@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
   


}

@media (max-width:360px){
    .cabeçalho-bg{
     
        max-width: 360px;
        
        color: aliceblue;
        background-color: black;
       
    }
    .cabeçalho-bg nav li{

      display: block;
    margin: 20px;
    text-align: center;
    font-family: "Nunito";
    
       
        
    }


}